/* max-width do tej szerokości, a min-width poniżej danej szerokości*/

@media all and (max-width: 1200px)
{
	#portfolio .portfolio-items .portfolio-item{
		width: 50%;}

	
	#portfolio .portfolio-items .portfolio-item:last-child{
		width: 100%;}
}
/*menu hamburger Start*/
@media all and (max-width: 768px)
{
	nav#menu .toggle{
		display: block;
		background-color: #fff;
		padding:0 20px;
		color: #1ac056;
		font-size: 20px;
		line-height: 60px;
		text-decoration: none;
		text-align: right;
	}

	nav#menu ul{
		display: none;
	}
	
	nav#menu #drop:checked + ul{
		display: block;
	}
	
	nav#menu > ul >li{
		display: block;
		width: 100%;
		padding: 20px;
		text-align: right;
	}
	
	header#main-header .header-caption{
				padding: 10px;
	}
	
	section#about .col-1-2{
		width: 100%;
	}
	
	#portfolio .portfolio-items .portfolio-item{
		width: 100%;}



	section#contact div.contact-form{
	width: 100%;
	text-align: center;
	}

	section#contact div.contact-data{
		width: 100%;
		text-align: center;}
	
	section#contact div.contact-data > h2{
		text-align: center;
	}
	section .contact-data .contact-social-icons a{
		margin: 0;
	}
}
/*menu hamburger Stop	*/
@media all and (max-width: 680px)
{
	section {
		padding: 0 40px 50px;
	}
	
	header#main-header .header-caption h1{
		font-size: 3em;
	}
	
	header#main-header .header-caption h2{
		font-size: 1.5em;
	}
	
}

@media all and (max-width: 480px)
{
	
}
