

/*general style start*/
*
{
	box-sizing: border-box;
}

body
{
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: #291f1a;
}

h2
{
	text-align: center;
	font-weight: 300;
	font-size: 30px;
}

a
{
	transition: all .3s;
}

span
{
	color: #1ac056;
	font-weight: 500;
}

.col-1-2
{
	width: 50%;
	float: left;
}

section
{
	padding: 30px 80px;
}
/*general style stop*/

/*MENU Start*/
nav#menu
{
	background-color: #fff;
	position: fixed;
	z-index: 10;
	width: 100%;
}

nav#menu ul
{
	margin: 0;
	text-align: right;
}

nav#menu ul > li.item-menu
{
	display: inline-block;
	padding: 25px;
	
}

nav#menu ul >li.item-menu a
{
	text-decoration: none;
	color: #1ac056;
	font-weight: 300;
	text-transform: lowercase;
}

nav#menu ul > li.item-menu a:hover
{
	color: #291f1a;
}
/*MENU Stop*/
/*HEADER-START*/
header#main-header
{
	background-image: url(../img/header-background.jpg);
	background-position:center;
	background-size: cover;
	height: 90vh;
	position:relative;
}

header#main-header div.header-caption
{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%)
}

#main-header .header-caption > h1
{
	font-size: 5em;
	font-weight: 300;
}

#main-header .header-caption > h2
{
	font-size: 2em;
	font-weight: 300;
}
/*HEADER-STOP*/

/*Section-O-MNIE-START*/

#about
{
	background-color: #f9fcfe;
	overflow: hidden;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
}

#about figure
{
	margin: 0;
	text-align: center;
}

#about figure img
{
	max-width: 100%;
	max-height: 350px;
	border: 10px solid #fff;
	border-radius: 10px;
}

#about div p
{
	font-weight: 300;
	line-height: 25px;
}
/*Section-O-MNIE-STOP*/

/*Section-Moje-Umiejętności-Start*/



div.skils-text
{
	text-align: center;
	
	
}

div.kafelki
{
	

	text-align: center;
	position: absolute;
	left: 28%;
	right: 20%;
	padding-top: 40px;

	
	
}

figure.ikon
{
	

	float: left;
	padding-left: 10px;
	padding-right: 10px;

	
	
}

figcaption
{
	text-align: center;	
}
/*Section-Moje-Umiejętności-Stop*/

/*Section-Moje-portfolio-Start*/

h2.portfolio-text
{
	position: relative;
	top:400px;
}


/*Section-Moje-portfolio-Stop*/